body{
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    background-color: #323638;
}
section#calculator{
    width: 400px;
    box-shadow: 2px 2px 2px rgba(30, 35, 38, 0.686);
    background-color: #f0f0f0;
}

.format{
    width: 88%;
    text-align: end;
    margin-left: 5%;
    outline: none;
}
div#results{
    font-size: 45px;
    height: 70px;
    overflow: auto;
    padding-bottom: 12px;
}
div#calc{
    font-size: 22px;
    padding-top: 10px;
    overflow: auto;
    height: 45px;
}
::-webkit-scrollbar{
    width: 10px;
    height: 8px;
}
::-webkit-scrollbar-track-piece{
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color:  #929394;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:  #abacae;
}
div#line{
    display: flex;
    flex-direction: row;
}
.btn{
    color: white;
    width: 100px;
    font-size: 25px;
    font-weight: lighter;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
}
.btn:hover{
    background-color: rgb(211, 210, 210);
    color: black;
}

.btn:active{
    background-color: #fff;
    color: black;
}
.grey{
    background-color: #1e2326;
    border: 1px solid #282d30;
}
.purple{
    background-color: #5e4bb6;
    border: 1px solid #6552bb;
}
.yellow{
    background-color: #ffbf0b;
    border: 1px solid #fdbc09;
}

.sidemenu{
    position: relative;
    width: 18px;
    height: 495px;
    background-color: transparent;
    display: flex;
    margin-top: -495px;
    margin-left: 380px;
    align-items: center;
    
}
.sidemenu:hover{
    width: 20px;
}
div#sideicons{
    width: 300px;
    height: 495px;
    margin-left: 7px;
    display: none;
    background-color: #a394e8;
}
aside#container{
    direction: rtl;
}
aside#container > *{
    direction: ltr;
}
.open{
    position: relative;
    width: 320px;
    height: 495px;
    background-color: #7761da;
    color: white;
    display: flex;
    margin-top: -495px;
    margin-left: 380px;
    align-items: center;
}

.arrow{
    outline: none;
    width: 12px;
    height: 12px;
    color: white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-top: -10px;
    margin-left: 7px;
}
.leftfacing{
    transform: rotate(-45deg);
}
.arrow:hover{
    border-top: 2px solid #b9acf0;
    border-left: 2px solid #b9acf0;
}
.pullarrow{
    border-top: 2px solid #abafb1;
    border-left: 2px solid #abafb1;
    transform: rotate(-135deg);
}
.pullarrow:hover{
    border-top: 2px solid #515455;
    border-left: 2px solid #515455;
}
.upmenu{
    position: absolute;
    height: 22px;
    width: 400px;
    display: flex;
    align-items: center;
}
.upmenu:hover{
    height: 25px;
}
.openmenu{
    position: absolute;
    width: 400px;
    background-color: #141515;
}
div#info{
    margin: -16px 0 6px 0;
    display: none;
    background-color: #464646;
    color: white;
    padding: 12px;   
}
header ul{
    list-style: none;
    margin: 0;
    padding: 8px 0;
}
header ul li{
   font-size: 14px;
}
header h1{
    margin: 0;
    font-size: large;
    margin-bottom: 8px;
}
header p{
    margin-top: 0;
}
button{
    cursor: pointer;
    border: transparent;
    background: transparent;
    padding: 0;
    outline: 0;
}